header{
	background-color:teal;
	padding:1em 0;
	
}	
}
.Mustafe{
	list-style-type:none;
	text-align:center;
	padding:0;
	margin:0;	
}
.Mustafe li{
	display:inline-block;
	background-color:white;
	
}

.Mustafe a{
	text-decoration:none;
	font-size:18;
	font-family:Times New Roman (Headings CS);
    padding:0.5em 0.8em;
	background-color:white;
	border-radius:0px;
}

.container{
	padding:0;
	margin:0;
	
	
}
.container .Wayn {
	width:96%;
	
	float:right;
	margin:10;
	padding:1em;
	border:1px solid teal;
	
}
.container .midig{
	width:20%;
	
	float:right;
	margin:10;
	padding:1em;
	border:1px solid teal;
	
}
.container .QaybtaBidix{
	width:17%;

	float:left;
	margin-top:10;
	padding:1em;
	border:1px solid purple;
	margin-left:30px;
	
	
}



legend{
	background-color:teal;
	color:white;
	font-size:18px;
	text-align:left;
	
	
}

form{
	color:black;
	font-size:12px;
	
}

h1{
	background-color:teal;
	color:white;
	text-align:left;
	font-size:33px;
	
}
p{
	font-size:12px;
}

h3{
	background-color:teal;
	color:white;
	text-align:center;
}
marquee{
	background-color:teal;
	border:0em;
	color:white;
	margin:0;
	padding:0.4em;
	font-family:Times New Roman (Headings CS);
	font-size:19;
}
